<div class="jumbotron">
  <h1>Shopper</h1>
  <p>We sell books made for the creative person in you <i class="mdi-action-favorite"></i></p>
  <p><%= link_to "View products", products_path ,:class=>"btn btn-primary btn-lg" %></p>
</div>
