$blue: #2196f3;

.container {
  padding-top: 20px;
}

.entry img {
  width: 100%;
}

.sidebar {
  float: right;
}

.cart_table tr:last-child{
  font-weight: bold;
}

#store_header {
  background-color: $blue;
  color: white;
}
