$light-blue: #B3E5FC;

.container {
  padding-top: 20px;
}

.jumbotron {
  background-color: $light-blue !important;
}

.panel.col-sm-3{
  padding: 0;
  margin-left: 2px;
  margin-right: 2px;
  img {
    width: 100%;
  }
}
