<div class="col-xs-12 col-sm-8">
  <h1>New Order</h1>

  <%= render 'form' %>

  <div class="col-lg-2 col-lg-offset-2">
  <%= link_to 'Back', orders_path, :class => 'btn btn-primary' %>
  </div>
</div>

<% unless @cart.line_items.empty? %>
  <%= render 'components/sidebar' %>
<% end %>
