<div class="page-header">
  <h1>Shopper<br/><small>We sell books made for the creative person in you <i class="mdi-action-favorite"></i></small></h1>
</div>

<h3>Listing Products</h3>
<%= render partial: 'products/product', collection: @products %>
