<!DOCTYPE html>
<html>
<head>
  <title>Shopper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <script>
    $(document).ready(function() {
      $.material.init();
    });
  </script>

</body>
</html>
